Nothing should be ignored based on the provided file changes, as they only include source code files (.cs) and configuration files (.xaml).
/.vs
/packages
/RestWorkApp/bin/Debug/Docs
/RestWorkApp/bin/Debug
/RestWorkApp/obj
/RestWorkApp/.vs
/RestWorkApp/restworkapp.csproj.user
